@model IEnumerable<CourseWork.Infrastructure.Models.CustomCollection>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNumericField1Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNumericField2Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNumericField3Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOneLineField1Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOneLineField2Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOneLineField3Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTextField1Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTextField2Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTextField3Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDate1Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDate2Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDate3Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCheckBox1Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCheckBox2Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCheckBox3Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumericField1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumericField2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumericField3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneLineField1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneLineField2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneLineField3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextField1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextField2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextField3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNumericField1Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNumericField2Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNumericField3Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOneLineField1Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOneLineField2Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOneLineField3Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTextField1Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTextField2Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTextField3Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDate1Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDate2Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDate3Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCheckBox1Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCheckBox2Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCheckBox3Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumericField1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumericField2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumericField3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneLineField1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneLineField2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneLineField3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextField1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextField2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextField3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
