@model CourseWork.Infrastructure.Models.CustomCollection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div class="row">
        <div class="col-sm-10">
            <h4>CustomCollection</h4>
        </div>
        <div class="col-sm-10">
            <a asp-controller="Items" asp-action="Create" asp-route-id="@Model.Id">Create item</a> |
        </div>
    </div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Img)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsNumericField1Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsNumericField1Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsNumericField2Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsNumericField2Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsNumericField3Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsNumericField3Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsOneLineField1Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsOneLineField1Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsOneLineField2Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsOneLineField2Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsOneLineField3Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsOneLineField3Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsTextField1Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsTextField1Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsTextField2Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsTextField2Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsTextField3Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsTextField3Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDate1Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDate1Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDate2Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDate2Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDate3Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDate3Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCheckBox1Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCheckBox1Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCheckBox2Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCheckBox2Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCheckBox3Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCheckBox3Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
