@model CourseWork.Infrastructure.Models.Item

@{
    ViewData["Title"] = "Delete";
}

<h3 class="text-center">Вы точно хотите удалить айтем "@Model.Title"?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-6 text-right">
            Тэги айтема
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        @if (Model.CustomCollection.IsNumericField1Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.NumericField1
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.NumericField1)
            </dd>
        }
        @if (Model.CustomCollection.IsNumericField2Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.NumericField2
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.NumericField2)
            </dd>
        }
        @if (Model.CustomCollection.IsNumericField3Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.NumericField3
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.NumericField3)
            </dd>
        }
        @if (Model.CustomCollection.IsOneLineField1Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.OneLineField1
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.OneLineField1)
            </dd>
        }
        @if (Model.CustomCollection.IsOneLineField2Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.OneLineField2
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.OneLineField2)
            </dd>
        }
        @if (Model.CustomCollection.IsOneLineField3Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.OneLineField3
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.OneLineField3)
            </dd>
        }
        @if (Model.CustomCollection.IsTextField1Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.TextField1
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.TextField1)
            </dd>
        }
        @if (Model.CustomCollection.IsTextField2Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.TextField2
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.TextField2)
            </dd>
        }
        @if (Model.CustomCollection.IsTextField3Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.TextField3
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.TextField3)
            </dd>
        }
        @if (Model.CustomCollection.IsDate1Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.Date1
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Date1)
            </dd>
        }
        @if (Model.CustomCollection.IsDate2Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.Date2
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Date2)
            </dd>
        }
        @if (Model.CustomCollection.IsDate3Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.Date3
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Date3)
            </dd>
        }
        @if (Model.CustomCollection.IsCheckBox1Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.CheckBox1
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.CheckBox1)
            </dd>
        }
        @if (Model.CustomCollection.IsCheckBox2Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.CheckBox2
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.CheckBox2)
            </dd>
        }
        @if (Model.CustomCollection.IsCheckBox3Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.CustomCollection.CheckBox3
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.CheckBox3)
            </dd>
        }
    </dl>

    <form asp-action="Delete">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group text-right">
                    <a asp-action="Index" asp-route-id="@Model.CustomCollection.Id">К списку айтемов</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Удалить айтем</button>
                </div>
            </div>
        </div>
    </form>
</div>
