@model CourseWork.ViewModels.ItemViewModel

@{
    ViewData["Title"] = "Details";
}
<div>
    <div class="row">
        <div class="col-sm-11 text-center">
            <h2>@Model.Item.Title</h2>
        </div>
        <div class="col text-right">
            <form asp-controller="Items">
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="submit" class="btn btn-primary" asp-route-id="@Model.Item.Id"
                            formmethod="post" asp-action="LikeItem">
                        @if (Model.LikesOnItem.Any(c => c.UserName == User.Identity.Name && c.IsLiked))
                        {
                            <i class="fas fa-heart"></i>
                        }
                        else
                        {
                            <i class="far fa-heart"></i>
                        }
                        @if (Model.LikesOnItem.Any(c => c.IsLiked))
                        {
                            @Model.LikesOnItem.Count(c => c.IsLiked)
                        }
                    </button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary" disabled="disabled">
                        <i class="far fa-heart"></i>
                        @if (Model.LikesOnItem.Any(c => c.IsLiked))
                        {
                            @Model.LikesOnItem.Count(c => c.IsLiked)
                        }
                    </button>
                }
            </form>
        </div>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-6 text-right">
            Тэги айтема
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Item.Tags)
        </dd>
        @if (Model.Item.CustomCollection.IsNumericField1Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.NumericField1
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.NumericField1)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsNumericField2Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.NumericField2
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.NumericField2)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsNumericField3Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.NumericField3
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.NumericField3)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsOneLineField1Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.OneLineField1
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.OneLineField1)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsOneLineField2Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.OneLineField2
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.OneLineField2)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsOneLineField3Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.OneLineField3
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.OneLineField3)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsTextField1Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.TextField1
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.TextField1)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsTextField2Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.TextField2
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.TextField2)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsTextField3Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.TextField3
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.TextField3)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsDate1Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.Date1
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.Date1)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsDate2Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.Date2
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.Date2)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsDate3Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.Date3
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.Date3)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsCheckBox1Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.CheckBox1
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.CheckBox1)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsCheckBox2Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.CheckBox2
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.CheckBox2)
            </dd>
        }
        @if (Model.Item.CustomCollection.IsCheckBox3Visible)
        {
            <dt class="col-sm-6 text-right">
                @Model.Item.CustomCollection.CheckBox3
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Item.CheckBox3)
            </dd>
        }
    </dl>
</div>
<div>
    <h3>Комментарии(@Model.Comments.Count()):</h3>
    @if (Model.Comments.Any())
    {
        @foreach (var item in Model.Comments)
        {
            <div class="comment">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>@item.User.UserName</h4>
                        <p><i>@item.Description</i></p>
                    </div>
                    <div class="col text-right">
                        <form asp-controller="Items">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <button type="submit" class="btn btn-primary" asp-route-id="@item.Id" asp-route-itemId="@item.ItemId"
                                        formmethod="post" asp-action="LikeComment" style="margin-right: 25px; margin-top: 30px;">
                                    @if (item.Likes.Any(c => c.UserName == User.Identity.Name && c.IsLiked))
                                    {
                                        <i class="fas fa-heart"></i>
                                    }
                                    else
                                    {
                                        <i class="far fa-heart"></i>
                                    }
                                    @if (item.Likes.Any(c => c.IsLiked))
                                    {
                                        @item.Likes.Count(c => c.IsLiked)
                                    }
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-primary" disabled="disabled" style="margin-right: 25px; margin-top: 30px;">
                                    <i class="far fa-heart"></i>
                                    @if (item.Likes.Any(c => c.IsLiked))
                                    {
                                        @item.Likes.Count(c => c.IsLiked)
                                    }
                                </button>
                            }
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col">
                <p><i style="font-size: 20px">Оставьте первый комментарий</i></p>
            </div>
        </div>
    }
</div>
@if (User.Identity.IsAuthenticated)
{
    <form asp-action="Details" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h5><i>Добавить комментарий:</i></h5>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" asp-route-id="@Model.Item.Id">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div>
        <h5><i>Возможность оставлять и лайкать комментарии/айтемы доступна только авторизованным пользователям</i></h5>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.Item.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
</div>
