@model CourseWork.ViewModels.ItemViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.Tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.NumericField1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.NumericField1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.NumericField2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.NumericField2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.NumericField3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.NumericField3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.OneLineField1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.OneLineField1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.OneLineField2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.OneLineField2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.OneLineField3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.OneLineField3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.TextField1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.TextField1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.TextField2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.TextField2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.TextField3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.TextField3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Date1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.Date1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Date2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.Date2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Date3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.Date3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.CheckBox1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.CheckBox1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.CheckBox2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.CheckBox2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.CheckBox3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.CheckBox3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item.CustomCollection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.CustomCollection.Id)
        </dd>
    </dl>
</div>
<div>
    <h3>Комментарии(@Model.Comments.Count()):</h3>
    @if (Model.Comments.Any())
    {
        @foreach (var item in Model.Comments)
        {
            <div class="comment">
                <div class="row">
                    <div class="col-sm-10">
                        <h4>@item.User.UserName</h4>
                        <p><i>@item.Description</i></p>
                    </div>
                    <div class="col">
                        <p class="text-right"></p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col">
                <p><i style="font-size: 20px">Оставьте первый комментарий</i></p>
            </div>
        </div>
    }
</div>
@if (User.Identity.IsAuthenticated)
{
    <form asp-action="Details" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h5><i>Добавить комментарий:</i></h5>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" asp-route-id="@Model.Item.Id">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div>
        <h5><i>Возможность оставлять комментарии доступна только авторизованным пользователям</i></h5>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.Item.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
</div>
