@model CourseWork.ViewModels.ItemViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Окно изменения айтема "@Model.Item.Title"</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.Id" />
            <div class="form-group">
                <label asp-for="Item.Title" class="control-label"></label>
                <input asp-for="Item.Title" name="item.Title" class="form-control" />
                <span asp-validation-for="Item.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Tags" class="control-label"></label>
                <input asp-for="Item.Tags" name="item.Tags" class="form-control" />
                <span asp-validation-for="Item.Tags" class="text-danger"></span>
            </div>
            @if (Model.CustomCollection.IsNumericField1Visible)
            {
                <div class="form-group">
                    <label class="control-label">@Model.CustomCollection.NumericField1</label>
                    <input asp-for="Item.NumericField1" name="item.NumericField1" class="form-control" />
                    <span asp-validation-for="Item.NumericField1" class="text-danger"></span>
                </div>
            }
            @if (Model.CustomCollection.IsNumericField2Visible)
            {
                <div class="form-group">
                    <label class="control-label">@Model.CustomCollection.NumericField2</label>
                    <input asp-for="Item.NumericField2" name="item.NumericField2" class="form-control" />
                    <span asp-validation-for="Item.NumericField2" class="text-danger"></span>
                </div>
            }
            @if (Model.CustomCollection.IsNumericField3Visible)
            {
                <div class="form-group">
                    <label class="control-label">@Model.CustomCollection.NumericField3</label>
                    <input asp-for="Item.NumericField3" name="item.NumericField3" class="form-control" />
                    <span asp-validation-for="Item.NumericField3" class="text-danger"></span>
                </div>
            }
            @if (Model.CustomCollection.IsOneLineField1Visible)
            {
                <div class="form-group">
                    <label class="control-label">@Model.CustomCollection.OneLineField1</label>
                    <input asp-for="Item.OneLineField1" name="item.OneLineField1" class="form-control" />
                    <span asp-validation-for="Item.OneLineField1" class="text-danger"></span>
                </div>
            }
            @if (Model.CustomCollection.IsOneLineField2Visible)
            {
                <div class="form-group">
                    <label class="control-label">@Model.CustomCollection.OneLineField2</label>
                    <input asp-for="Item.OneLineField2" name="item.OneLineField2" class="form-control" />
                    <span asp-validation-for="Item.OneLineField2" class="text-danger"></span>
                </div>
            }
            @if (Model.CustomCollection.IsOneLineField3Visible)
            {
                <div class="form-group">
                    <label class="control-label">@Model.CustomCollection.OneLineField3</label>
                    <input asp-for="Item.OneLineField3" name="item.OneLineField3" class="form-control" />
                    <span asp-validation-for="Item.OneLineField3" class="text-danger"></span>
                </div>
            }
            @if (Model.CustomCollection.IsTextField1Visible)
            {
                <div class="form-group">
                    <label class="control-label">@Model.CustomCollection.TextField1</label>
                    <input asp-for="Item.TextField1" name="item.TextField1" class="form-control" />
                    <span asp-validation-for="Item.TextField1" class="text-danger"></span>
                </div>
            }
            @if (Model.CustomCollection.IsTextField2Visible)
            {
                <div class="form-group">
                    <label class="control-label">@Model.CustomCollection.TextField2</label>
                    <input asp-for="Item.TextField2" name="item.TextField2" class="form-control" />
                    <span asp-validation-for="Item.TextField2" class="text-danger"></span>
                </div>
            }
            @if (Model.CustomCollection.IsTextField3Visible)
            {
                <div class="form-group">
                    <label class="control-label">@Model.CustomCollection.TextField3</label>
                    <input asp-for="Item.TextField3" name="item.TextField3" class="form-control" />
                    <span asp-validation-for="Item.TextField3" class="text-danger"></span>
                </div>
            }
            @if (Model.CustomCollection.IsDate1Visible)
            {
                <div class="form-group">
                    <label class="control-label">@Model.CustomCollection.Date1</label>
                    <input asp-for="Item.Date1" name="item.Date1" class="form-control" />
                    <span asp-validation-for="Item.Date1" class="text-danger"></span>
                </div>
            }
            @if (Model.CustomCollection.IsDate2Visible)
            {
                <div class="form-group">
                    <label class="control-label">@Model.CustomCollection.Date2</label>
                    <input asp-for="Item.Date2" name="item.Date2" class="form-control" />
                    <span asp-validation-for="Item.Date2" class="text-danger"></span>
                </div>
            }
            @if (Model.CustomCollection.IsDate3Visible)
            {
                <div class="form-group">
                    <label class="control-label">@Model.CustomCollection.Date3</label>
                    <input asp-for="Item.Date3" name="item.Date3" class="form-control" />
                    <span asp-validation-for="Item.Date3" class="text-danger"></span>
                </div>
            }
            @if (Model.CustomCollection.IsCheckBox1Visible)
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Item.CheckBox1" name="item.CheckBox1" /> @Model.CustomCollection.CheckBox1
                    </label>
                </div>
            }
            @if (Model.CustomCollection.IsCheckBox2Visible)
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Item.CheckBox2" name="item.CheckBox2" /> @Model.CustomCollection.CheckBox2
                    </label>
                </div>
            }
            @if (Model.CustomCollection.IsCheckBox3Visible)
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Item.CheckBox3" name="item.CheckBox3" /> @Model.CustomCollection.CheckBox3
                    </label>
                </div>
            }
            <div class="form-group">
                <label class="control-label">Название коллекции:</label>
                <select asp-for="Item.CustomCollectionId" class="form-control" asp-items="ViewBag.CustomCollectionId"></select>
                <span asp-validation-for="Item.CustomCollectionId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group text-center">
                        <a asp-action="Index" asp-route-id="@Model.CustomCollection.Id">К списку айтемов</a>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success">Сохранить изменения</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
