@model CourseWork.ViewModels.ItemViewModel

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center">Айтемы коллекции</h3>
<hr />

@foreach (var item in Model.Items)
{
    <div class="row">
        <div class="col text-right">
            <p><b><i>Название айтема:</i></b></p>
        </div>
        <div class="col">
            <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">@item.Title (Нажмите на название, чтобы перейти на страницу айтема)</a>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <p><b><i>Теги:</i></b></p>
        </div>
        <div class="col">
            <p>@item.Tags</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <a asp-controller="Items" asp-action="Edit" asp-route-id="@item.Id">
                <button type="submit" class="btn btn-success">Изменить айтем</button>
            </a>
        </div>
        <div class="col">
            <a asp-controller="Items" asp-action="Delete" asp-route-id="@item.Id">
                <button type="submit" class="btn btn-danger">Удалить айтем</button>
            </a>
        </div>
    </div>
    <hr />
}
<div class="text-center">
    <a asp-controller="CustomCollections" asp-action="Details" asp-route-id="@Model.CustomCollection.Id">Вернуться к коллекции</a>
</div>